* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

body {
    background: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    cursor: crosshair;
}


canvas {
    display:block;
    z-index: -999;
}

.happy-birthday {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

.wishes {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
}

.from-thespacebard {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
}

i {
    color: #fff;
}