/* Tạo font-face Liberation Mono vì nó đéo có sẵn trên Google Font nhưng mà ny tôi thích font này và tôi chiều anh ý :)) */

@font-face {
    font-family: 'Liberation Mono';
    src: url('./fonts/liberation_mono/LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* global var config */
:root{
    --bg-color: #1A223D;
    --typewriterSpeed: 5s;
    --typewriterCharacters: 14;
}


* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: "Hack", monospace;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: crosshair;
    background: var(--bg-color);
    height: 100%;
}



canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
}


h1 {
    font-family: "Liberation Mono", monospace;
    font-weight: 500;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    width: max-content;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    margin: auto;
}

h1::before,
h1::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before{
    background: var(--bg-color);
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after{
    width: 0.125em;
    background: #fff;
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(18) infinite;
}

p {
    font-size: clamp(0.95rem, 3vw + 1rem, 1rem);
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    max-width: 80vw;
    margin: auto;
}


/* animation typewriter effect */
@keyframes typewriter {
    to {
        left: 100%;
    }
}

/* carat blinking effect */
@keyframes blink {
    to {
        background: transparent;
    }
}


/* subtitles fading in */

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
